rpc-core/src/main/resources/META-INF/rpc.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="https://www.kangyonggan.com/schema/rpc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://www.kangyonggan.com/schema/rpc">
    <!-- 应用 -->
    <xsd:element name="application">
        <xsd:complexType>
            <!--应用ID-->
            <xsd:attribute name="id" type="xsd:string" fixed="application"/>
            <!--应用名称-->
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <!-- 服务端 -->
    <xsd:element name="server">
        <xsd:complexType>
            <!-- 服务ID -->
            <xsd:attribute name="id" type="xsd:string" fixed="server"/>
            <!-- 监听端口 -->
            <xsd:attribute name="port" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <!-- 注册中心 -->
    <xsd:element name="register">
        <xsd:complexType>
            <!-- ID -->
            <xsd:attribute name="id" type="xsd:string" fixed="register"/>
            <!-- 类型 -->
            <xsd:attribute name="type" type="xsd:string" use="required"/>
            <!-- ip -->
            <xsd:attribute name="ip" type="xsd:string"/>
            <!-- 端口 -->
            <xsd:attribute name="port" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <!-- 服务 -->
    <xsd:element name="service">
        <xsd:complexType>
            <!-- ID -->
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <!-- 服务接口名称 -->
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <!-- 服务实现类 -->
            <xsd:attribute name="impl" type="xsd:string"/>
            <!-- 服务实现相关类 -->
            <xsd:attribute name="ref" type="xsd:string"/>
            <!-- 版本 -->
            <xsd:attribute name="version" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <!-- 客户端 -->
    <xsd:element name="client">
        <xsd:complexType>
            <!-- 客户端ID -->
            <xsd:attribute name="id" type="xsd:string" fixed="client"/>
            <!-- 负载均衡 -->
            <xsd:attribute name="load_balance" default="poll">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <!--轮询（缺省）-->
                        <xsd:enumeration value="poll"/>
                        <!--随机-->
                        <xsd:enumeration value="random"/>
                        <!--加权轮询-->
                        <xsd:enumeration value="weight_poll"/>
                        <!--加权随机-->
                        <xsd:enumeration value="weight_random"/>
                        <!--源地址哈希-->
                        <xsd:enumeration value="source_hash"/>
                        <!--最小连接数-->
                        <xsd:enumeration value="small_connect"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!-- 引用 -->
    <xsd:element name="refrence">
        <xsd:complexType>
            <!-- ID -->
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <!-- 服务接口名称 -->
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <!-- 版本 -->
            <xsd:attribute name="version" type="xsd:string"/>
            <!-- 超时毫秒数 -->
            <xsd:attribute name="timeout" type="xsd:integer" default="10000"/>
            <!-- 定向服务IP -->
            <xsd:attribute name="direct_server_ip" type="xsd:string"/>
            <!-- 定向服务端口 -->
            <xsd:attribute name="direct_server_port" type="xsd:string"/>
            <!-- 使用缓存 -->
            <xsd:attribute name="use_cache" default="false">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="true"/>
                        <xsd:enumeration value="false"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <!-- 缓存时间(秒) -->
            <xsd:attribute name="cache_time" type="xsd:integer" default="60"/>
            <!-- 异步 -->
            <xsd:attribute name="async" default="false">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="true"/>
                        <xsd:enumeration value="false"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <!-- 容错策略 -->
            <xsd:attribute name="fault" default="fail_fast">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <!--快速失败（缺省）-->
                        <xsd:enumeration value="fail_fast"/>
                        <!--失败重试-->
                        <xsd:enumeration value="fail_retry"/>
                        <!--失败安全-->
                        <xsd:enumeration value="fail_safe"/>
                        <!--广播失败-->
                        <xsd:enumeration value="broadcast_fail"/>
                        <!--广播安全-->
                        <xsd:enumeration value="broadcast_safe"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <!-- 拦截器 -->
            <xsd:attribute name="interceptor" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <!-- telnet服务治理 -->
    <xsd:element name="telnet">
        <xsd:complexType>
            <!-- ID -->
            <xsd:attribute name="id" type="xsd:string" fixed="telnet"/>
            <!-- 监听端口 -->
            <xsd:attribute name="port" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <!-- 监控 -->
    <xsd:element name="monitor">
        <xsd:complexType>
            <!-- ID -->
            <xsd:attribute name="id" type="xsd:string" fixed="monitor"/>
            <!-- 监控ip -->
            <xsd:attribute name="ip" type="xsd:string" use="required"/>
            <!-- 监控端口 -->
            <xsd:attribute name="port" type="xsd:integer" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>